.selector-1 {
  background-color: #f00;
  width: 300px;
  font-size: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-2 {
  font-size: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-3 {
  font-size: min(2rem, calc(1.325rem + 0.9vw)) !important;
}

.selector-4 {
  font-size: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-5 {
  font-size: 2em;
}

.selector-6 {
  font-size: inherit;
}

@supports (display: flex) {
  .selector-7 {
    font-size: min(1.75rem, calc(1.3rem + 0.6vw));
  }
}

.selector-8 {
  flex: 0 999 min(32rem, calc(4.325rem + 36.9vw));
}

.selector-9 {
  padding: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-10 {
  padding: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-11 {
  padding-top: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-12 {
  padding-right: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-13 {
  padding-bottom: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-14 {
  padding-left: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-15 {
  margin: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-16 {
  margin-top: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-17 {
  margin-right: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-18 {
  margin-bottom: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-19 {
  margin-left: min(2rem, calc(1.325rem + 0.9vw));
}

.selector-20 {
  margin: min(2rem, calc(1.325rem + 0.9vw)) min(3rem, calc(1.425rem + 2.1vw));
}

.selector-21 {
  margin: min(2rem, calc(1.325rem + 0.9vw)) min(3rem, calc(1.425rem + 2.1vw)) !important;
}

.selector-22 {
  font-size: 0;
}

.selector-23 {
  margin: 0 min(3rem, calc(1.425rem + 2.1vw));
}

.selector-24 {
  box-shadow: 0 0 min(2rem, calc(1.325rem + 0.9vw)) #f00, 0 0 min(3rem, calc(1.425rem + 2.1vw)) #0f0;
}

.selector-25 {
  --value: min(3rem, calc(1.425rem + 2.1vw));
}

.selector-26 {
  font-size: 0.625rem;
}

.selector-27 {
  margin: min(-3rem, calc(-1.425rem - 2.1vw));
}

.selector-28 {
  margin: -0.5rem;
}
