@import "../../scss";

// font-size property with `px` unit
.selector-1 {
  background-color: #f00;
  width: 300px;
  font-size: rfs(32px);
}

// font-size property with `rem` unit
.selector-2 {
  font-size: rfs(2rem);
}

// font-size property with !important
.selector-3 {
  font-size: rfs(2rem) !important;
}

// rfs shorthand
.selector-4 {
  font-size: rfs(2rem);
}

// not supported unit
.selector-5 {
  font-size: rfs(2em);
}

// special value
.selector-6 {
  font-size: rfs(inherit);
}

// font-size property inside @support-query
@supports (display: flex) {
  .selector-7 {
    font-size: rfs(28px);
  }
}

// flex property with unitless values
.selector-8 {
  flex: rfs(0 999 32rem);
}

// padding property
.selector-9 {
  padding: rfs(2rem);
}

// padding shorthands
.selector-10 {
  padding: rfs(2rem);
}

.selector-11 {
  padding-top: rfs(2rem);
}

.selector-12 {
  padding-right: rfs(2rem);
}

.selector-13 {
  padding-bottom: rfs(2rem);
}

.selector-14 {
  padding-left: rfs(2rem);
}

// margin shorthands
.selector-15 {
  margin: rfs(2rem);
}

.selector-16 {
  margin-top: rfs(2rem);
}

.selector-17 {
  margin-right: rfs(2rem);
}

.selector-18 {
  margin-bottom: rfs(2rem);
}

.selector-19 {
  margin-left: rfs(2rem);
}

// Multiple values
.selector-20 {
  margin: rfs(2rem 3rem);
}

// Multiple values with important
.selector-21 {
  margin: rfs(2rem 3rem) !important;
}

// Zero test
.selector-22 {
  font-size: rfs(0);
}

// Zero combination test
.selector-23 {
  margin: rfs(0 3rem);
}

// Value with comma
.selector-24 {
  box-shadow: rfs(0 0 2rem #f00 #{","} 0 0 3rem #0f0);
}

// Custom properties
.selector-25 {
  --value: #{rfs(3rem)};
}

// Test small value
.selector-26 {
  font-size: rfs(10px);
}

// Negative units
.selector-27 {
  margin: rfs(-3rem);
}

// Small negative unit
.selector-28 {
  margin: rfs(-.5rem);
}
