.selector-1 {
  background-color: #f00;
  width: 300px;
  font-size: min(32px, calc(16px + 2vmin));
}

.selector-2 {
  font-size: min(32px, calc(16px + 2vmin));
}

.selector-3 {
  font-size: min(32px, calc(16px + 2vmin)) !important;
}

.selector-4 {
  font-size: min(32px, calc(16px + 2vmin));
}

.selector-5 {
  font-size: 2em;
}

.selector-6 {
  font-size: inherit;
}

@supports (display: flex) {
  .selector-7 {
    font-size: min(28px, calc(15.2px + 1.6vmin));
  }
}

.selector-8 {
  flex: 0 999 min(512px, calc(112px + 50vmin));
}

.selector-9 {
  padding: min(32px, calc(16px + 2vmin));
}

.selector-10 {
  padding: min(32px, calc(16px + 2vmin));
}

.selector-11 {
  padding-top: min(32px, calc(16px + 2vmin));
}

.selector-12 {
  padding-right: min(32px, calc(16px + 2vmin));
}

.selector-13 {
  padding-bottom: min(32px, calc(16px + 2vmin));
}

.selector-14 {
  padding-left: min(32px, calc(16px + 2vmin));
}

.selector-15 {
  margin: min(32px, calc(16px + 2vmin));
}

.selector-16 {
  margin-top: min(32px, calc(16px + 2vmin));
}

.selector-17 {
  margin-right: min(32px, calc(16px + 2vmin));
}

.selector-18 {
  margin-bottom: min(32px, calc(16px + 2vmin));
}

.selector-19 {
  margin-left: min(32px, calc(16px + 2vmin));
}

.selector-20 {
  margin: min(32px, calc(16px + 2vmin)) min(48px, calc(19.2px + 3.6vmin));
}

.selector-21 {
  margin: min(32px, calc(16px + 2vmin)) min(48px, calc(19.2px + 3.6vmin)) !important;
}

.selector-22 {
  font-size: 0;
}

.selector-23 {
  margin: 0 min(48px, calc(19.2px + 3.6vmin));
}

.selector-24 {
  box-shadow: 0 0 min(32px, calc(16px + 2vmin)) #f00,
    0 0 min(48px, calc(19.2px + 3.6vmin)) #0f0;
}

.selector-25 {
  --value: min(48px, calc(19.2px + 3.6vmin));
}

.selector-26 {
  font-size: 10px;
}

.selector-27 {
  margin: min(-48px, calc(-19.2px - 3.6vmin));
}

.selector-28 {
  margin: -8px;
}
